.swiper-button-disabled {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  height: 100%;
  top: 20px;
  color: #ff9029;
}

.swiper-button-prev {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.swiper-button-next {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px;
}
